@model PaginatedList<CCCSportsCentreGradedUnit.Models.FitnessClass>
@{
    ViewData["Title"] = "Index";
}

<br />
@if (TempData.ContainsKey("Alert"))
{
    <div class="alert alert-danger" role="alert">
        @TempData["Alert"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>

}
else if (TempData.ContainsKey("Success"))
{
    <div class="alert alert-success" role="alert">
        @TempData["Success"]
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    </div>
}
<br />
@if (User.IsInRole("Admin") || User.IsInRole("Manager"))
{
    <a asp-action="ClassesReportListDownload" asp-controller="Booking" class="btn btn-info">Generate excel Class report</a>

}
<div class="row">

    <div class="col-md-6">
        <h2 class="text-info">Search for your favourite class</h2>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-2">
        <a class="btn btn-primary pull-right btn-outline-info" asp-area="Customer" asp-controller="BookActivity" asp-action="Index">Search for activities</a>
    </div>

</div>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<br />

<p>

    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#TodaysClasses" aria-expanded="false" aria-controls="TodaysClasses">
        Todays classes
    </button>
</p>
<div class="collapse" id="TodaysClasses">
    <div class="card card-body">

        <div>
            <div>
                <table class="table table-striped border table-responsive">
                    <tr class="table-info">


                        <th style="text-align:center">
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Name</a>
                        </th>
                        <th style="text-align:center">
                            Price
                        </th>
                        <th style="text-align:center">
                            Date
                        </th>
                        <th style="text-align:center">
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Start Time</a>
                        </th>
                        <th style="text-align:center">
                            End Time
                        </th>
                        <th style="text-align:center">
                            Location
                        </th>
                        <th style="text-align:center; ">
                            <label>Spaces available</label>
                        </th>
                        <th></th>

                    </tr>
                    @foreach (var item in Model)
                    {
                        if (item.StartDate == DateTime.Today)
                        {



                            <tr style="padding:50px">
                                <td style="text-align:center">
                                    @Html.DisplayFor(c => item.FitnessClassCategory.Name)
                                </td>
                                <td style="text-align:center">
                                    @String.Format("{0:c}", item.Price)
                                </td>
                                <td style="text-align:center">
                                    @Html.DisplayFor(m => item.StartDate)
                                </td>
                                <td style="text-align:center">
                                    @String.Format("{0:HH:mm}", item.StartTime)
                                </td>
                                <td style="text-align:center">
                                    @String.Format("{0:HH:mm}", item.EndTime)
                                </td>

                                <td style="text-align:center">
                                    @Html.DisplayFor(c => item.Room.Name)
                                </td>
                                @{int spaceAvailable = item.Room.Capacity - item.NoOfPeopleBooked; }
                                <td style="text-align:center">
                                    @spaceAvailable
                                </td>
                                <td>
                                    @if (!item.Available)
                                    {
                                        <a asp-action="Details" asp-controller="Booking" class="btn disabled  pull-right btn-outline-info" asp-route-id="@item.Id">Already Booked</a>
                                    }
                                    else if (item.StartTime < DateTime.Now)
                                    {
                                        <a asp-action="Details" asp-controller="Booking" class="btn disabled  pull-right btn-outline-info" asp-route-id="@item.Id">It's to late</a>
                                    }
                                    else
                                    {
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <a asp-action="Details" asp-controller="Booking" class="btn btn-success pull-right btn-outline-info" asp-route-id="@item.Id">Book</a>
                                        }
                                        else
                                        {
                                            <div class="col-12">
                                                <a asp-area="Identity" class="btn btn-success pull-right btn-outline-info" asp-page="/Account/Login" returnUrl="Request.Url.PathAndQuerry">Login to Book</a>

                                                <a asp-area="Identity" class="btn btn-success pull-right btn-outline-info" asp-page="/Account/Register" returnUrl="Request.Url.PathAndQuerry">Register a new account</a>
                                            </div>

                                        }

                                    }


                                </td>

                            </tr>
                        }
                    }
                </table>
            </div>
        </div>

    </div>
</div>

<p>
    @{var date = DateTime.Today.AddDays(1).ToShortDateString(); }
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#TomorrowsClasses" aria-expanded="false" aria-controls="TomorrowsClasses">
        @date
    </button>
</p>
<div class="collapse" id="TomorrowsClasses">
    <div class="card card-body">

        <div>
            <div>
                <table class="table table-striped border  table-responsive">
                    <tr class="table-info">


                        <th style="text-align:center">
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Name</a>
                        </th>
                        <th style="text-align:center">
                            Price
                        </th>
                        <th style="text-align:center">
                            Date
                        </th>
                        <th style="text-align:center">
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Start Time</a>
                        </th>
                        <th style="text-align:center">
                            End Time
                        </th>
                        <th style="text-align:center">
                            Location
                        </th>
                        <th style="text-align:center; ">
                            <label>Spaces available</label>
                        </th>
                        <th></th>

                    </tr>
                    @foreach (var item in Model)
                    {
                        if (item.StartDate == DateTime.Today.AddDays(1))
                        {



                            <tr style="padding:50px">
                                <td style="text-align:center">
                                    @Html.DisplayFor(c => item.FitnessClassCategory.Name)
                                </td>
                                <td style="text-align:center">
                                    @String.Format("{0:c}", item.Price)
                                </td>
                                <td style="text-align:center">
                                    @Html.DisplayFor(m => item.StartDate)
                                </td>
                                <td style="text-align:center">
                                    @String.Format("{0:HH:mm}", item.StartTime)
                                </td>
                                <td style="text-align:center">
                                    @String.Format("{0:HH:mm}", item.EndTime)
                                </td>

                                <td style="text-align:center">
                                    @Html.DisplayFor(c => item.Room.Name)
                                </td>
                                @{int spaceAvailable = item.Room.Capacity - item.NoOfPeopleBooked; }
                                <td style="text-align:center">
                                    @spaceAvailable
                                </td>
                                <td>
                                    @if (!item.Available)
                                    {
                                        <a asp-action="Details" asp-controller="Booking" class="btn disabled  pull-right btn-outline-info" asp-route-id="@item.Id">Already Booked</a>
                                    }
                                    else
                                    {
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <a asp-action="Details" asp-controller="Booking" class="btn btn-success pull-right btn-outline-info" asp-route-id="@item.Id">Book</a>
                                        }
                                        else
                                        {
                                            <div class="col-12">
                                                <a asp-area="Identity" class="btn btn-success pull-right btn-outline-info" asp-page="/Account/Login" returnUrl="Request.Url.PathAndQuerry">Login to Book</a>

                                                <a asp-area="Identity" class="btn btn-success pull-right btn-outline-info" asp-page="/Account/Register" returnUrl="Request.Url.PathAndQuerry">Register a new account</a>
                                            </div>

                                        }

                                    }


                                </td>

                            </tr>
                        }
                    }
                </table>
            </div>
        </div>

    </div>
</div>

<p>
    @{var date2 = DateTime.Today.AddDays(2).ToShortDateString(); }
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#TwodaysClasses" aria-expanded="false" aria-controls="TwodaysClasses">
        @date2
    </button>
</p>
<div class="collapse" id="TwodaysClasses">
    <div class="card card-body">

        <div>
            <div>
                <table class="table table-striped border  table-responsive">
                    <tr class="table-info">


                        <th style="text-align:center">
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Name</a>
                        </th>
                        <th style="text-align:center">
                            Price
                        </th>
                        <th style="text-align:center">
                            Date
                        </th>
                        <th style="text-align:center">
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Start Time</a>
                        </th>
                        <th style="text-align:center">
                            End Time
                        </th>
                        <th style="text-align:center">
                            Location
                        </th>
                        <th style="text-align:center">
                            Location
                        </th>
                        <th style="text-align:center">
                            <label>Spaces available</label>
                        </th>
                        <th></th>

                    </tr>
                    @foreach (var item in Model)
                    {
                        if (item.StartDate == DateTime.Today.AddDays(2))
                        {



                            <tr style="padding:50px">
                                <td style="text-align:center">
                                    @Html.DisplayFor(c => item.FitnessClassCategory.Name)
                                </td>
                                <td style="text-align:center">
                                    @String.Format("{0:c}", item.Price)
                                </td>
                                <td style="text-align:center">
                                    @Html.DisplayFor(m => item.StartDate)
                                </td>
                                <td style="text-align:center">
                                    @String.Format("{0:HH:mm}", item.StartTime)
                                </td>
                                <td style="text-align:center">
                                    @String.Format("{0:HH:mm}", item.EndTime)
                                </td>

                                <td style="text-align:center">
                                    @Html.DisplayFor(c => item.Room.Name)
                                </td>
                                @{int spaceAvailable = item.Room.Capacity - item.NoOfPeopleBooked; }
                                <td style="text-align:center">
                                    @spaceAvailable
                                </td>
                                <td>
                                    @if (!item.Available)
                                    {
                                        <a asp-action="Details" asp-controller="Booking" class="btn disabled  pull-right btn-outline-info" asp-route-id="@item.Id">Already Booked</a>
                                    }
                                    else
                                    {
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <a asp-action="Details" asp-controller="Booking" class="btn btn-success pull-right btn-outline-info" asp-route-id="@item.Id">Book</a>
                                        }
                                        else
                                        {
                                            <div class="col-12">
                                                <a asp-area="Identity" class="btn btn-success pull-right btn-outline-info" asp-page="/Account/Login" returnUrl="Request.Url.PathAndQuerry">Login to Book</a>

                                                <a asp-area="Identity" class="btn btn-success pull-right btn-outline-info" asp-page="/Account/Register" returnUrl="Request.Url.PathAndQuerry">Register a new account</a>
                                            </div>

                                        }

                                    }


                                </td>

                            </tr>
                        }
                    }
                </table>
            </div>
        </div>

    </div>
</div>


<p>
    @{var date3 = DateTime.Today.AddDays(3).ToShortDateString(); }
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#ThreedaysClasses" aria-expanded="false" aria-controls="ThreedaysClasses">
        @date3
    </button>
</p>
<div class="collapse" id="ThreedaysClasses">
    <div class="card card-body">

        <div>
            <div>
                <table class="table table-striped border  table-responsive">
                    <tr class="table-info">


                        <th style="text-align:center">
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Name</a>
                        </th>
                        <th style="text-align:center">
                            Price
                        </th>
                        <th style="text-align:center">
                            Date
                        </th>
                        <th style="text-align:center">
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Start Time</a>
                        </th>
                        <th style="text-align:center">
                            End Time
                        </th>
                        <th style="text-align:center">
                            Location
                        </th>
                        <th style="text-align:center; ">
                            <label>Spaces available</label>
                        </th>
                        <th></th>

                    </tr>
                    @foreach (var item in Model)
                    {
                        if (item.StartDate == DateTime.Today.AddDays(3))
                        {



                            <tr style="padding:50px">
                                <td style="text-align:center">
                                    @Html.DisplayFor(c => item.FitnessClassCategory.Name)
                                </td>
                                <td style="text-align:center">
                                    @String.Format("{0:c}", item.Price)
                                </td>
                                <td style="text-align:center">
                                    @Html.DisplayFor(m => item.StartDate)
                                </td>
                                <td style="text-align:center">
                                    @String.Format("{0:HH:mm}", item.StartTime)
                                </td>
                                <td style="text-align:center">
                                    @String.Format("{0:HH:mm}", item.EndTime)
                                </td>

                                <td style="text-align:center">
                                    @Html.DisplayFor(c => item.Room.Name)
                                </td>
                                @{int spaceAvailable = item.Room.Capacity - item.NoOfPeopleBooked; }
                                <td style="text-align:center">
                                    @spaceAvailable
                                </td>
                                <td>
                                    @if (!item.Available)
                                    {
                                        <a asp-action="Details" asp-controller="Booking" class="btn disabled  pull-right btn-outline-info" asp-route-id="@item.Id">Already Booked</a>
                                    }
                                    else
                                    {
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <a asp-action="Details" asp-controller="Booking" class="btn btn-success pull-right btn-outline-info" asp-route-id="@item.Id">Book</a>
                                        }
                                        else
                                        {
                                            <div class="col-12">
                                                <a asp-area="Identity" class="btn btn-success pull-right btn-outline-info" asp-page="/Account/Login" returnUrl="Request.Url.PathAndQuerry">Login to Book</a>

                                                <a asp-area="Identity" class="btn btn-success pull-right btn-outline-info" asp-page="/Account/Register" returnUrl="Request.Url.PathAndQuerry">Register a new account</a>
                                            </div>

                                        }

                                    }


                                </td>

                            </tr>
                        }
                    }
                </table>
            </div>
        </div>

    </div>
</div>

<p>
    @{var date4 = DateTime.Today.AddDays(4).ToShortDateString(); }
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#FourdaysClasses" aria-expanded="false" aria-controls="FourdaysClasses">
        @date4
    </button>
</p>
<div class="collapse" id="FourdaysClasses">
    <div class="card card-body">

        <div>
            <div>
                <table class="table table-striped border  table-responsive">
                    <tr class="table-info">


                        <th style="text-align:center">
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Name</a>
                        </th>
                        <th style="text-align:center">
                            Price
                        </th>
                        <th style="text-align:center">
                            Date
                        </th>
                        <th style="text-align:center">
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Start Time</a>
                        </th>
                        <th style="text-align:center">
                            End Time
                        </th>
                        <th style="text-align:center">
                            Location
                        </th>
                        <th style="text-align:center; ">
                            <label>Spaces available</label>
                        </th>
                        <th></th>

                    </tr>
                    @foreach (var item in Model)
                    {
                        if (item.StartDate == DateTime.Today.AddDays(4))
                        {



                            <tr style="padding:50px">
                                <td style="text-align:center">
                                    @Html.DisplayFor(c => item.FitnessClassCategory.Name)
                                </td>
                                <td style="text-align:center">
                                    @String.Format("{0:c}", item.Price)
                                </td>
                                <td style="text-align:center">
                                    @Html.DisplayFor(m => item.StartDate)
                                </td>
                                <td style="text-align:center">
                                    @String.Format("{0:HH:mm}", item.StartTime)
                                </td>
                                <td style="text-align:center">
                                    @String.Format("{0:HH:mm}", item.EndTime)
                                </td>

                                <td style="text-align:center">
                                    @Html.DisplayFor(c => item.Room.Name)
                                </td>
                                @{int spaceAvailable = item.Room.Capacity - item.NoOfPeopleBooked; }
                                <td style="text-align:center">
                                    @spaceAvailable
                                </td>
                                <td>
                                    @if (!item.Available)
                                    {
                                        <a asp-action="Details" asp-controller="Booking" class="btn disabled  pull-right btn-outline-info" asp-route-id="@item.Id">Already Booked</a>
                                    }
                                    else
                                    {
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <a asp-action="Details" asp-controller="Booking" class="btn btn-success pull-right btn-outline-info" asp-route-id="@item.Id">Book</a>
                                        }
                                        else
                                        {
                                            <div class="col-12">
                                                <a asp-area="Identity" class="btn btn-success pull-right btn-outline-info" asp-page="/Account/Login" returnUrl="Request.Url.PathAndQuerry">Login to Book</a>

                                                <a asp-area="Identity" class="btn btn-success pull-right btn-outline-info" asp-page="/Account/Register" returnUrl="Request.Url.PathAndQuerry">Register a new account</a>
                                            </div>

                                        }

                                    }


                                </td>

                            </tr>
                        }
                    }
                </table>
            </div>
        </div>

    </div>
</div>

<p>
    @{var date5 = DateTime.Today.AddDays(5).ToShortDateString(); }
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#FivedaysClasses" aria-expanded="false" aria-controls="FivedaysClasses">
        @date5
    </button>
</p>
<div class="collapse" id="FivedaysClasses">
    <div class="card card-body">

        <div>
            <div>
                <table class="table table-striped border  table-responsive">
                    <tr class="table-info">


                        <th style="text-align:center">
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Name</a>
                        </th>
                        <th style="text-align:center">
                            Price
                        </th>
                        <th style="text-align:center">
                            Date
                        </th>
                        <th style="text-align:center">
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Start Time</a>
                        </th>
                        <th style="text-align:center">
                            End Time
                        </th>
                        <th style="text-align:center">
                            Location
                        </th>
                        <th style="text-align:center; ">
                            <label>Spaces available</label>
                        </th>
                        <th></th>

                    </tr>
                    @foreach (var item in Model)
                    {
                        if (item.StartDate == DateTime.Today.AddDays(5))
                        {



                            <tr style="padding:50px">
                                <td style="text-align:center">
                                    @Html.DisplayFor(c => item.FitnessClassCategory.Name)
                                </td>
                                <td style="text-align:center">
                                    @String.Format("{0:c}", item.Price)
                                </td>
                                <td style="text-align:center">
                                    @Html.DisplayFor(m => item.StartDate)
                                </td>
                                <td style="text-align:center">
                                    @String.Format("{0:HH:mm}", item.StartTime)
                                </td>
                                <td style="text-align:center">
                                    @String.Format("{0:HH:mm}", item.EndTime)
                                </td>

                                <td style="text-align:center">
                                    @Html.DisplayFor(c => item.Room.Name)
                                </td>
                                @{int spaceAvailable = item.Room.Capacity - item.NoOfPeopleBooked; }
                                <td style="text-align:center">
                                    @spaceAvailable
                                </td>
                                <td>
                                    @if (!item.Available)
                                    {
                                        <a asp-action="Details" asp-controller="Booking" class="btn disabled  pull-right btn-outline-info" asp-route-id="@item.Id">Already Booked</a>
                                    }
                                    else
                                    {
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <a asp-action="Details" asp-controller="Booking" class="btn btn-success pull-right btn-outline-info" asp-route-id="@item.Id">Book</a>
                                        }
                                        else
                                        {
                                            <div class="col-12">
                                                <a asp-area="Identity" class="btn btn-success pull-right btn-outline-info" asp-page="/Account/Login" returnUrl="Request.Url.PathAndQuerry">Login to Book</a>

                                                <a asp-area="Identity" class="btn btn-success pull-right btn-outline-info" asp-page="/Account/Register" returnUrl="Request.Url.PathAndQuerry">Register a new account</a>
                                            </div>

                                        }

                                    }


                                </td>

                            </tr>
                        }
                    }
                </table>
            </div>
        </div>

    </div>
</div>

<p>
    @{var date6 = DateTime.Today.AddDays(6).ToShortDateString(); }
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#SixdaysClasses" aria-expanded="false" aria-controls="SixdaysClasses">
        @date6
    </button>
</p>
<div class="collapse" id="SixdaysClasses">
    <div class="card card-body">

        <div>
            <div>
                <table class="table table-striped border  table-responsive">
                    <tr class="table-info">


                        <th style="text-align:center">
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Name</a>
                        </th>
                        <th style="text-align:center">
                            Price
                        </th>
                        <th style="text-align:center">
                            Date
                        </th>
                        <th style="text-align:center">
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Start Time</a>
                        </th>
                        <th style="text-align:center">
                            End Time
                        </th>
                        <th style="text-align:center">
                            Location
                        </th>
                        <th style="text-align:center; ">
                            <label>Spaces available</label>
                        </th>
                        <th></th>

                    </tr>
                    @foreach (var item in Model)
                    {
                        if (item.StartDate == DateTime.Today.AddDays(6))
                        {



                            <tr style="padding:50px">
                                <td style="text-align:center">
                                    @Html.DisplayFor(c => item.FitnessClassCategory.Name)
                                </td>
                                <td style="text-align:center">
                                    @String.Format("{0:c}", item.Price)
                                </td>
                                <td style="text-align:center">
                                    @Html.DisplayFor(m => item.StartDate)
                                </td>
                                <td style="text-align:center">
                                    @String.Format("{0:HH:mm}", item.StartTime)
                                </td>
                                <td style="text-align:center">
                                    @String.Format("{0:HH:mm}", item.EndTime)
                                </td>

                                <td style="text-align:center">
                                    @Html.DisplayFor(c => item.Room.Name)
                                </td>
                                @{int spaceAvailable = item.Room.Capacity - item.NoOfPeopleBooked; }
                                <td style="text-align:center">
                                    @spaceAvailable
                                </td>
                                <td>
                                    @if (!item.Available)
                                    {
                                        <a asp-action="Details" asp-controller="Booking" class="btn disabled  pull-right btn-outline-info" asp-route-id="@item.Id">Already Booked</a>
                                    }
                                    else
                                    {
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <a asp-action="Details" asp-controller="Booking" class="btn btn-success pull-right btn-outline-info" asp-route-id="@item.Id">Book</a>
                                        }
                                        else
                                        {
                                            <div class="col-12">
                                                <a asp-area="Identity" class="btn btn-success pull-right btn-outline-info" asp-page="/Account/Login" returnUrl="Request.Url.PathAndQuerry">Login to Book</a>

                                                <a asp-area="Identity" class="btn btn-success pull-right btn-outline-info" asp-page="/Account/Register" returnUrl="Request.Url.PathAndQuerry">Register a new account</a>
                                            </div>

                                        }

                                    }


                                </td>

                            </tr>
                        }
                    }
                </table>
            </div>
        </div>

    </div>
</div>

<p>
    @{var date7 = DateTime.Today.AddDays(7).ToShortDateString(); }
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#SevendaysClasses" aria-expanded="false" aria-controls="SevendaysClasses">
        @date7
    </button>
</p>
<div class="collapse" id="SevendaysClasses">
    <div class="card card-body">

        <div>
            <div>
                <table class="table table-striped border  table-responsive">
                    <tr class="table-info">


                        <th style="text-align:center">
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Name</a>
                        </th>
                        <th style="text-align:center">
                            Price
                        </th>
                        <th style="text-align:center">
                            Date
                        </th>
                        <th style="text-align:center">
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Start Time</a>
                        </th>
                        <th style="text-align:center">
                            End Time
                        </th>
                        <th style="text-align:center">
                            Location
                        </th>
                        <th style="text-align:center; ">
                            <label>Spaces available</label>
                        </th>
                        <th></th>

                    </tr>
                    @foreach (var item in Model)
                    {
                        if (item.StartDate == DateTime.Today.AddDays(7))
                        {



                            <tr style="padding:50px">
                                <td style="text-align:center">
                                    @Html.DisplayFor(c => item.FitnessClassCategory.Name)
                                </td>
                                <td style="text-align:center">
                                    @String.Format("{0:c}", item.Price)
                                </td>
                                <td style="text-align:center">
                                    @Html.DisplayFor(m => item.StartDate)
                                </td>
                                <td style="text-align:center">
                                    @String.Format("{0:HH:mm}", item.StartTime)
                                </td>
                                <td style="text-align:center">
                                    @String.Format("{0:HH:mm}", item.EndTime)
                                </td>

                                <td style="text-align:center">
                                    @Html.DisplayFor(c => item.Room.Name)
                                </td>
                                @{int spaceAvailable = item.Room.Capacity - item.NoOfPeopleBooked; }
                                <td style="text-align:center">
                                    @spaceAvailable
                                </td>
                                <td>
                                    @if (!item.Available)
                                    {
                                        <a asp-action="Details" asp-controller="Booking" class="btn disabled  pull-right btn-outline-info" asp-route-id="@item.Id">Already Booked</a>
                                    }
                                    else
                                    {
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <a asp-action="Details" asp-controller="Booking" class="btn btn-success pull-right btn-outline-info" asp-route-id="@item.Id">Book</a>
                                        }
                                        else
                                        {
                                            <div class="col-12">
                                                <a asp-area="Identity" class="btn btn-success pull-right btn-outline-info" asp-page="/Account/Login" returnUrl="Request.Url.PathAndQuerry">Login to Book</a>

                                                <a asp-area="Identity" class="btn btn-success pull-right btn-outline-info" asp-page="/Account/Register" returnUrl="Request.Url.PathAndQuerry">Register a new account</a>
                                            </div>

                                        }

                                    }


                                </td>

                            </tr>
                        }
                    }
                </table>
            </div>
        </div>

    </div>
</div>


<p>
    @{var date8 = DateTime.Today.AddDays(8).ToShortDateString(); }
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#EightdaysClasses" aria-expanded="false" aria-controls="EightdaysClasses">
        @date8
    </button>
</p>
<div class="collapse" id="EightdaysClasses">
    <div class="card card-body">

        <div>
            <div>
                <table class="table table-striped border  table-responsive">
                    <tr class="table-info">


                        <th style="text-align:center">
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Name</a>
                        </th>
                        <th style="text-align:center">
                            Price
                        </th>
                        <th style="text-align:center">
                            Date
                        </th>
                        <th style="text-align:center">
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Start Time</a>
                        </th>
                        <th style="text-align:center">
                            End Time
                        </th>
                        <th style="text-align:center">
                            Location
                        </th>
                        <th style="text-align:center; ">
                            <label>Spaces available</label>
                        </th>
                        <th></th>

                    </tr>
                    @foreach (var item in Model)
                    {
                        if (item.StartDate == DateTime.Today.AddDays(8))
                        {



                            <tr style="padding:50px">
                                <td style="text-align:center">
                                    @Html.DisplayFor(c => item.FitnessClassCategory.Name)
                                </td>
                                <td style="text-align:center">
                                    @String.Format("{0:c}", item.Price)
                                </td>
                                <td style="text-align:center">
                                    @Html.DisplayFor(m => item.StartDate)
                                </td>
                                <td style="text-align:center">
                                    @String.Format("{0:HH:mm}", item.StartTime)
                                </td>
                                <td style="text-align:center">
                                    @String.Format("{0:HH:mm}", item.EndTime)
                                </td>

                                <td style="text-align:center">
                                    @Html.DisplayFor(c => item.Room.Name)
                                </td>
                                @{int spaceAvailable = item.Room.Capacity - item.NoOfPeopleBooked; }
                                <td style="text-align:center">
                                    @spaceAvailable
                                </td>
                                <td>
                                    @if (!item.Available)
                                    {
                                        <a asp-action="Details" asp-controller="Booking" class="btn disabled  pull-right btn-outline-info" asp-route-id="@item.Id">Already Booked</a>
                                    }
                                    else
                                    {
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <a asp-action="Details" asp-controller="Booking" class="btn btn-success pull-right btn-outline-info" asp-route-id="@item.Id">Book</a>
                                        }
                                        else
                                        {
                                            <div class="col-12">
                                                <a asp-area="Identity" class="btn btn-success pull-right btn-outline-info" asp-page="/Account/Login" returnUrl="Request.Url.PathAndQuerry">Login to Book</a>

                                                <a asp-area="Identity" class="btn btn-success pull-right btn-outline-info" asp-page="/Account/Register" returnUrl="Request.Url.PathAndQuerry">Register a new account</a>
                                            </div>

                                        }

                                    }


                                </td>

                            </tr>
                        }
                    }
                </table>
            </div>
        </div>

    </div>
</div>


@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>

